body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(166, 252, 255) 70%, rgb(104, 255, 129) 73%, rgb(218, 185, 0));
}

#flappyKoy {
    display: block;
    margin: 0 auto;
}

#score {
    position: absolute;
    top: 20px;
    font-size: 50px;
}

#person {
    text-align: center;
}

#telaPerson {
    display: grid;
    place-content: center;
    position: absolute;
    backdrop-filter: blur(15px);
    border: 2px dashed white;
    border-radius: 5px;
    text-align: center;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 25px rgb(0, 76, 95);

}